# Google Analytics 4
GA_PROPERTY_ID=554924878

# Google Cloud Workload Identity Federation (sem chave privada)
GCP_PROJECT_NUMBER=568010186513
GCP_SERVICE_ACCOUNT_EMAIL=wiki-analytics-dashboard@project-d0079f33-9005-473f-938.iam.gserviceaccount.com
GCP_WORKLOAD_IDENTITY_POOL_ID=vercel-wiki
GCP_WORKLOAD_IDENTITY_POOL_PROVIDER_ID=vercel
